
{% load static %}

{% block navbar %}
    <aside class="left-sidebar">
        <div class="scroll-sidebar">
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="main_m">
                        <a class="waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><img class="img img-fluid" src={% static 'img/menu-icons/home.png' %}><br><span class="hide-menu">Home</span></a>
                        <img class="img img-fluid triangle" src={% static 'img/triangle.png' %}>
                         <ul>
                            <li><a href="{% url 'dashboard' %}"><img class="img img-fluid" src={% static 'img/menu-icons/sub-menu/home.png' %}> Dashboard</a></li>
                        </ul>
                    </li>

                    <li class="main_m">
                        <a class="waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><img class="img img-fluid" src={% static 'img/menu-icons/source.png' %}><br><span class="hide-menu">Connections</span></a>
                         <img class="img img-fluid triangle" src={% static 'img/triangle.png' %}>
                         <ul>
                            <li><a href="{% url 'adapter' %}"><img class="img img-fluid" src={% static 'img/menu-icons/sub-menu/adapters.png' %}> Adapter</a></li>
                            <li><a href="{% url 'connection' %}"><img class="img img-fluid" src={% static 'img/menu-icons/sub-menu/conection.png' %}> Connection</a></li>
                            <li><a href="#"><img class="img img-fluid" src={% static 'img/menu-icons/sub-menu/data-source.png' %}> Data Source</a></li>
                            <li><a href="#"><img class="img img-fluid" src={% static 'img/menu-icons/sub-menu/data-feeds.png' %}> Data Target</a></li>
                        </ul>
                    </li>

                    <li class="main_m">
                        <a class="waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><img class="img img-fluid" src={% static 'img/menu-icons/category.png' %}><br><span class="hide-menu">Data Catalog</span></a>
                        <img class="img img-fluid triangle" src={% static 'img/triangle.png' %}>
                          <ul>
                            <li><a href="#"><img class="img img-fluid" src={% static 'img/menu-icons/sub-menu/data-catelog.png' %}> Show Catalog</a></li>
                            <li><a href="#"><img class="img img-fluid" src={% static 'img/menu-icons/sub-menu/data-set.png' %}> Create Dataset</a></li>
                            <li><a href="#"><img class="img img-fluid" src={% static 'img/menu-icons/sub-menu/search-data.png' %}> Search Elements</a></li>
                        </ul>
                    </li>

                    <li class="main_m">
                        <a class="waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><img class="img img-fluid" src={% static 'img/menu-icons/data-linage.png' %}><br><span class="hide-menu">Data Lieage</span></a>
                        <img class="img img-fluid triangle" src={% static 'img/triangle.png' %}>
                         <ul>
                            <li><a href="#"><img class="img img-fluid" src={% static 'img/menu-icons/sub-menu/search-data.png' %}> Search by Element</a></li>
                            <li><a href="#"><img class="img img-fluid" src={% static 'img/menu-icons/sub-menu/link2catellog.png' %}> Map Sources Lineage</a></li>
                             <li><a href="#"><img class="img img-fluid" src={% static 'img/menu-icons/sub-menu/business-glossary.png' %}> Map Targets Lineage</a></li>
                              <li><a href="#"><img class="img img-fluid" src={% static 'img/menu-icons/sub-menu/report-bytt.png' %}> Show Lineage</a></li>
                        </ul>
                    </li>

                    <li class="main_m">
                        <a class="waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><img class="img img-fluid" src={% static 'img/menu-icons/glossary.png' %}><br><span class="hide-menu">Scheduler</span></a>
                         <img class="img img-fluid triangle" src={% static 'img/triangle.png' %}>
                        <ul>
                            <li><a href="#"><img class="img img-fluid" src={% static 'img/menu-icons/sub-menu/business-glossary.png' %}> Show schedule</a></li>
                            <li><a href="#"><img class="img img-fluid" src={% static 'img/menu-icons/sub-menu/assin.png' %}>Create schedule
                            </a></li>
                        </ul>
                    </li>

                </ul>
            </nav>
        </div>
        <div class="sidebar-footer text-center">
            <a href="{% url 'logout' %}" class="link text-center" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
        </div>
    </aside>
{% endblock %}